@use "../base/functions" as *;

body {
	background-color: var(--bg-body);
	color: var(--text-primary);
	font-family: var(--ff-primary);
	padding-top: rem(30);
	padding-bottom: rem(80);
	font-weight: var(--fw-md);
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: rem(36);
}


footer {
	margin-top: rem(40);
	text-align: center;
}

.container {
	width: min(87%, 730px);
	margin: 0 auto;
}