@use "../base/variables" as *;

@media (any-hover: hover) {
    .button--theme-toggle:hover {
        color: var(--text-hover);

        & svg {
            fill: var(--text-hover);
        }
    }

    .button {
        cursor: pointer;
    }

    .card__socials-link:hover {
        text-decoration: underline;
    }

    .button--search:hover {
        background-color: var(--bg-button-hover);
    }

    .disabled:hover {
        text-decoration: none;
    }
}

// 375 pixels
@media (min-width: 23.4375rem) {
    .button--search {
        margin-top: 0;
        width: auto;
        position: absolute;
        right: 7px;
        top: 50%;
        transform: translateY(-50%);
    }

    .card__info {
        display: grid;
        gap: toRem(5);
    }
}

// 656 pixels
@media (min-width: 41rem) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        max-width: 573px;
    }

    form {
        margin-bottom: toRem(24);
    }

    .search__form {
        font-size: var(--fs-md);
        padding-top: toRem(22);
        padding-bottom: toRem(22);
        padding-left: toRem(80);
        background-position-x: toRem(32);

        &::placeholder {
            font-size: inherit;
        }
    }

    .button--search {
        font-size: var(--fs-md);
        right: 10px;
    }

    .card {
        font-size: var(--fs-sm);
        padding: toRem(40);

        &__avatar {
            width: 117px;
            height: 117px;
        }

        &__name {
            font-size: var(--fs-xl);
        }

        &__username {
            font-size: var(--fs-md);
        }

        &__bio {
            margin-top: toRem(24);
            margin-bottom: toRem(32);
        }

        &__stats {
            padding: toRem(18) toRem(32);
        }

        &__stats-value {
            font-size: var(--fs-lg);
        }

        &__socials {
            margin-top: toRem(36);
            display: grid;
            grid-template-columns: auto auto;
            gap: toRem(20) toRem(120);
        }

        &__socials-item {
            margin-bottom: 0;
        }
    }
}


// 1024 pixels
@media (min-width: 64rem) {
    .container {
        max-width: 730px;
    }

    .card {
        display: grid;
        grid-template-columns: auto 480px;
        column-gap: toRem(36);
        padding: toRem(48);
        padding-top: toRem(40);
        position: relative;

        &__avatar {
            position: absolute;
            left: 48px;
            top: 40px;
        }

        &__info {
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }

        &__joined-date {
            grid-column: 2 / 3;
            display: flex;
            justify-content: flex-end;
        }

        &__username {
            grid-row: 2 / 3;
        }

        &__header,
        &__bio-wrapper,
        &__stats,
        &__socials {
            grid-column: 2 / 3;
        }
    }
}