@use "../base/variables" as *;

@media (any-hover: hover) {
    .button--theme-toggle:hover {
        color: var(--text-accent-light-blue);

        & svg g {
            fill: var(--text-accent-light-blue);
        }
    }

    [data-theme="light"] {
        & .button--theme-toggle:hover {
            color: hsla(220, 18%, 16%, 1);

            & svg path {
                fill: hsla(220, 18%, 16%, 1);
            }
        }
    }

    .button {
        cursor: pointer;
    }

    .card__socials-link:hover {
        text-decoration: underline;
    }

    .button--search:hover {
        background-color: var(--bg-button-hover);
    }

    .disabled:hover {
        text-decoration: none;
    }
}

// 375 pixels
@media (min-width: 23.4375rem) {
    .button--search {
        margin-top: 0;
        width: auto;
        position: absolute;
        right: 7px;
        top: 50%;
        transform: translateY(-50%);
    }

    .card__info {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
    }
}

// 768 pixels
@media (min-width: 41rem) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        max-width: 573px;
    }

    .search__form {
        font-size: var(--fs-md);
        padding-left: toRem(80);
        background-position-x: toRem(32);

        &::placeholder {
            font-size: inherit;
        }
    }

    .button--search {
        font-size: var(--fs-md);
    }

    .card {
        font-size: var(--fs-sm);
        padding: toRem(40);

        &__avatar {
            width: 117px;
            height: 117px;
        }

        &__name {
            font-size: var(--fs-xl);
        }

        &__username {
            font-size: var(--fs-md);
        }

        &__stats {
            padding: toRem(18) toRem(32);
        }

        &__stats-value {
            font-size: var(--fs-lg);
        }

        &__socials {
            display: grid;
            grid-template-columns: auto auto;
            gap: toRem(20) toRem(120);
        }

        &__socials-item {
            margin-bottom: 0;
        }
    }
}