@use "../base/utilities" as *;

.button {
	color: var(--text-primary);
	border: none;

	&--transparent {
		background-color: transparent;
		font-size: var(--fs-xs);
		font-weight: 700;
		letter-spacing: 2.5px;
		display: flex;
		gap: toRem(16);
	}

	&--search {
		width: 100%;
		margin-top: toRem(10);
		background-color: var(--bg-button);
		font-size: var(--fs-xs);
		border-radius: toRem(10);
		padding: toRem(12) toRem(16);
	}
}