@use "../base/variables" as *;

.button {
	color: var(--text-primary);
	border: none;
	font-weight: var(--fw-bold);

	& svg {
		fill: var(--text-primary);
	}

	&--theme-toggle {
		background-color: transparent;
		font-size: var(--fs-xs);
		letter-spacing: 2.5px;
		display: flex;
		gap: toRem(16);
	}

	&--search {
		width: 100%;
		margin-top: toRem(10);
		background-color: var(--bg-button);
		font-size: var(--fs-xs);
		border-radius: toRem(10);
		padding: toRem(12) toRem(16);


		&:active {
			background-color: var(--bg-button-hover);
		}
	}
}