@use "../base/functions" as *;

.button {
	color: var(--text-primary);
	border: none;
	font-weight: var(--fw-bold);

	& svg {
		fill: var(--text-primary);
	}

	&--theme-toggle {
		background-color: transparent;
		font-size: var(--13px);
		letter-spacing: 2.5px;
		display: flex;
		gap: rem(16);
	}

	&--search {
		color: var(--text-button);
		width: 100%;
		margin-top: rem(10);
		background-color: var(--bg-button);
		font-size: var(--13px);
		border-radius: rem(10);
		padding: rem(12) rem(16);


		&:active {
			background-color: var(--bg-button-hover);
		}
	}
}