@use "../base/functions" as *;

.card {
	font-size: var(--fs-xs);
	background-color: var(--bg-card);
	border-radius: rem(15);
	padding: rem(32) rem(24) rem(48);
	box-shadow: var(--box-shadow);

	&__header {
		display: flex;
		gap: rem(20);
		align-items: center;
	}

	&__avatar {
		border-radius: 50%;
	}

	&__name {
		font-size: var(--fs-md);
	}

	&__username,
	&__username:visited,
	&__username:focus {
		color: var(--text-accent-blue);
	}

	&__bio {
		margin-top: rem(33);
		margin-bottom: rem(23);
	}

	&__stats {
		display: flex;
		justify-content: space-between;
		background-color: var(--bg-card-stats);
		border-radius: rem(10);
		padding: rem(18) rem(14);
	}

	&__stats-item {
		text-align: center;
		font-size: rem(11);
	}

	&__stats-value {
		display: block;
		font-size: var(--fs-md);
		font-weight: var(--fw-bold);
		margin-top: rem(8);
	}

	&__socials {
		margin-top: rem(24);
	}

	&__socials-link {
		color: var(--text-primary);
		word-break: break-all;
	}

	&__socials-item {
		display: grid;
		grid-template-columns: 20px auto;
		gap: rem(13);
		align-items: center;
		margin-bottom: rem(18);

		& svg {
			fill: var(--text-primary);
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}