@use "../base/utilities" as *;

form {
	margin-bottom: toRem(16);
}

.search-form {
	color: var(--text-primary);
	background-color: var(--bg-search);
	width: 100%;
	border-radius: toRem(15);
	border: none;
	padding: toRem(18) 0 toRem(18) toRem(16);

	&::placeholder {
		color: var(--text-primary);
		font-size: var(--fs-xs);
	}
}