@use "../base/variables" as *;

form {
	margin-bottom: toRem(16);
}

.search {
	position: relative;

	&__form {
		background-image: url("/images/icon-search.svg");
		background-repeat: no-repeat;
		background-position-y: center;
		background-position-x: toRem(16);
		font-size: var(--fs-xs);
		color: var(--text-primary);
		background-color: var(--bg-search);
		width: 100%;
		border-radius: toRem(15);
		border: none;
		padding: toRem(18) 0 toRem(18) toRem(48);
		box-shadow: var(--box-shadow);

		&::placeholder {
			color: var(--text-primary);
			font-size: var(--fs-xs);
		}
	}
}