@use "../base/functions" as *;

form {
	margin-bottom: rem(16);
}

.search {
	position: relative;

	&__form {
		background-image: url("/images/icon-search.svg");
		background-repeat: no-repeat;
		background-position-y: center;
		background-position-x: rem(16);
		font-size: var(--fs-xs);
		color: var(--text-primary);
		background-color: var(--bg-search);
		width: 100%;
		border-radius: rem(15);
		border: none;
		padding: rem(18) 0 rem(18) rem(48);
		box-shadow: var(--box-shadow);

		&::placeholder {
			color: var(--text-primary);
			font-size: var(--fs-xs);
		}
	}

	&__error {
		font-size: var(--fs-xs);
		font-weight: var(--fw-bold);
		display: inline-block;
		width: 100%;
		text-align: center;
		color: var(--text-error);
	}
}